h1{
	text-align: center;
}


.izq {
    float: left;
    width: 25%;
}

.dere > p{
    float: left;
    width: 75%;
    text-align: justify;
}

.columnas > p{
    float: left;
    width: 33%;
    text-align: justify;
}