a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
}

body{
    background-color: cadetblue;
}

.nav{
    display: flex;
    column-gap: .8rem;
    padding: 10px 15px;
    background-color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.rosa{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 5rem;
}

.izq{
    background-color: white;
}

.derecha{
    padding: 1rem;
    background-color: bisque;
    text-decoration: underline;
    height: 25vh;
}

.img{
    width: 100%;
    height: 100%;
}